$grey: #626262;
.site-logo a,
span {
  font-family: Palatino Linotype, Palatino;
}

.site-logo {
  span {
    font-size: 16px;
  }
  img {
    position: absolute;
    bottom: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .site-logo span {
    display: none;
  }
}
.site-logo {
  img {
    width: 140px;
    height: 60px;
  }
}
.header-nav {
  .site-menu {
    li {
      border-right: 1px solid #626262;
      &:last-child {
        border-right: 0;
      }
    }
  }
}
.search-box {
  form {
    position: relative;

    width: 100%;
    height: 34px;
    input {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      width: 34px;
      height: 100%;

      border: 0;
      background-color: transparent;
      box-shadow: none;
    }
  }
}
.widget_categories {
  .widget-title {
    display: none;
  }
}
.widget_nav_menu {
  .widget-title {
    display: none;
  }
  ul {
    li {
      list-style: none;
      .sub-menu {
        display: none;
        &.display {
          display: block;
        }
      }
    }
  }
}
